:root {
  --primary-font: "Parastoo";
  --secondary-font: "Lalezar";
  --white-color: #fff;
  --light-grey-color: #919191;
  --paragraphs-color: #444444;
  --headings-color: #124265;
  --btns-color: #2487ce;
  --bg-secondary-color: #f8fbfe;
}
